body {
    margin:0;
    font-family: Helvetica, sans-serif;
    color:white;
}
.header {
    display: flex;
    background-color: #323232;
    height: 48px;
    list-style: none;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    justify-content: space-between;
}
.logo__img{
    height: 20px;
    width:15px;

}
.fa-solid{
    color:#A7A9AC
}
.menu{
    list-style: none;
    display:none
}
.menu__item{
    color:white;
    text-decoration: none;
    background-color: #323232;
}
.banners-container{
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
}
.banners-container__item{
    min-width: 290px;
    min-height:240px;
    max-height: 300px;
}
.small-banners-container{
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    background-color: white;
}
// .img-container{
//     min-width:240px;
//     min-height:220px;
// }
.small-banners-container__item{
    max-width: 100%;
    max-height: 100%;
}

footer{
    display:flex;
    justify-content: center
}
.disclaimer{
    color:grey;
    font-size: small;
    text-align: justify;
    padding-left: 15px;
    padding-right: 15px;
}



@media screen and (min-width:620px){
    .small-banners-container{
        width: 100%;
        display:grid;
        grid-template-columns: 1fr 1fr;
    }
    // .img-container{
    //     min-width: 220px;
    // }
    .small-banners-container__item{
        width: auto;
        min-width: auto;
    }
    .header{
        display:flex;
        justify-content: space-evenly;
    }
    .menu{
        display:flex;
        justify-content: space-evenly;
        align-items: center;

    }
    .menu__item{
        margin-left: 10px;
        margin-right: 10px;
    }
    .fa-solid.fa-bars{
        display: none;

    }
    .disclaimer{
        padding-left: 50px;
        padding-right: 50px;
    }
    
}

@media screen and (min-width:830px){
    .header{
        padding-left: 200px;
        padding-right: 200px;
        justify-content: space-evenly;
    }
    .disclaimer{
        padding-left: 200px;
        padding-right: 200px;
    }
    .menu__item{
        margin-left: 20px;
        margin-right: 20px;
    }
    .banners-container__item{
        min-width: 290px;
        min-height:240px;
        max-height: 600px;
    }
}